<%
if (typeof(track) != "undefined" && track) {
    %>
    <a href="http://www.amazon.co.uk/gp/search?ie=UTF8&keywords=<%= escape(track.name + " " + track.artist["#text"])%>&tag=retu12-21&index=digital-music&linkCode=ur2&camp=1634&creative=6738" class="affiliate"><img src="/img/amazoncouk.png" /></a><img src="http://www.assoc-amazon.co.uk/e/ir?t=retu12-21&l=ur2&o=2" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
    <a href="http://www.amazon.com/gp/search?ie=UTF8&keywords=<%= escape(track.name + " " + track.artist["#text"])%>&tag=boxsocialfm-20&index=digital-music&linkCode=ur2&camp=1789&creative=6738" class="affiliate"><img src="/img/amazoncom.png" /></a><img src="http://www.assoc-amazon.com/e/ir?t=boxsocialfm-20&l=ur2&o=1" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
    <%
}
%>
