<%
if (parties.length == 0) {
    %>
    <li class="partyDetails">
        <div class="nothing">
            No one.
        </div>
    </li>
    <%
}
else {
    for (partyIndex in parties) {
        %>
        <li class="party">
            <%- partial("party", parties[partyIndex]) %>
        </li>
        <%
    }
}
%>
