<div id="footer" class="container">
    <div class="row">
        <div class="fourcol">
            <h3>boxsocial.fm</h3>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/join">Join a Party</a></li>
                <li><a href="/login">Log in</a></li>
                <li><a href="/help">Help</a></li>
            </ul>
        </div>
        <div class="fourcol">
            <h3>More info</h3>
            <ul>
                <li><a href="http://github.com/jammus/boxsocial">GitHub</a></li>
            </ul>
            <h3>Credits</h3>
            <ul>
                <li><a href="http://twitter.com/jammus">Jammus</a></li>
            </ul>
            <h3>Additional Credits</h3>
            <ul>
                <li><a href="http://cssgrid.net">1140 grid</a></li>
                <li><a href="http://ubuwaits.github.com/css3-buttons/">CSS3 buttons</a></li>
            </ul>
        </div>
        <div class="fourcol last">
            <h3>Powered by</h3>
            <ul>
                <li><a href="http://last.fm"><img src="/img/lastfm_black_small.gif" class="lastfm" /></li>
                <li><a href="http://nodejs.org">node.js</a></li>
                <li><a href="http://github.com/jammus/lastfm-node">lastfm-node</a></li>
        </div>
    </div>
</div>
