<li class="guest">
    <%
    if (guest.user && guest.user.image[2]["#text"]) {
        %>
        <a href="http://www.last.fm/user/<%=guest.session.user%>"><img src="<%= guest.user.image[2]["#text"] %>" /></a>
        <%
    }
    %>
    <div class="name">
        <a href="http://www.last.fm/user/<%=guest.session.user%>"><%= guest.session.user %></a>
    </div>
</li>
