<%
if (guests.length == 0) {
    %>
    <li>No one</li>
    <%
}
for (guestIndex in guests) {
    %>
    <li>
        <%
        if (guests[guestIndex].user && guests[guestIndex].user.image[2]["#text"]) {
            %>
            <img src="<%= guests[guestIndex].user.image[2]["#text"] %>" />
            <%
        }
        %>
        <a href="http://www.last.fm/user/<%=guests[guestIndex].session.user%>"><%= guests[guestIndex].session.user %></a>
    </li>
    <%
}
%>
