<div class="container" id="header">
    <div class="row">
        <div class="sevencol">
            <h1><a href="/">boxsocial.fm</a> <span class="subheader">party mode for Last.fm</span></h1>
        </div>
        <div class="navigation fivecol last">
            <a href="/">Home</a>
            |
            <a href="/about">About</a>
            |
            <a href="/join">Join a Party</a>
            |
            <a href="/login">Log in</a>
            |
            <a href="/help">Help</a>
        </div>
    </div>
</div>
