<div class="container" id="header">
    <div class="row">
        <div class="sevencol logo">
            <a href="/">boxsocial</a> <span class="subheader">party mode for Last.fm</span>
        </div>
        <div class="fivecol last">
            <a href="/login" class="login" title="Log in with Last.fm">Log In</a>
            <div class="navigation">
                <a href="/">Home</a>
                |
                <a href="/about">About</a>
                |
                <a href="/join">Join a Party</a>
            </div>
        </div>
    </div>
</div>
