<div id="howitworks">
    <h3>How it works</h3>
    <ul>
        <li id="stepOne">
            <h4>Log in using Last.fm</h4>
            You'll be asked to grant permission for boxsocial.fm to access your Last.fm account.
        </li>
        <li id="stepTwo">
            <h4>Join a party</h4>
            Check that your host is scrobbling and find out their Last.fm username. Enter their username to join or create a new party.
        </li>
        <li id="stepThree">
            <h4>That's it</h4>
            All of the tracks that your host plays will appear in your own Last.fm timeline. When you want to stop just click 'Leave Party'.
        </li>
    </ul>
</div>
