<div id="howitworks">
    <h3>How it works</h3>
    <div id="stepOne" class="step fourcol">
        <h4>Log in</h4>
        <a href="/login">Log in</a> using Last.fm on your phone or computer.
    </div>
    <div id="stepTwo" class="step fourcol">
        <h4>Join a party</h4>
        Enter your friend or host's Last.fm username to <a href="/join">join their party</a>.
    </div>
    <div id="stepThree" class="step fourcol last">
        <h4>Enjoy</h4>
        Now all of your friend's plays will appear on your Last.fm timeline. When you want to stop just click 'Leave Party'.
    </div>
</div>
