<div id="nowPlaying" class="trackDetails nowPlaying">
    <%
    if (nowplaying) {
        if (nowplaying.image[2]["#text"]) {
            %>
            <img src="<%= nowplaying.image[2]["#text"] %>" />
            <%
        }
        %>
        <div class="name">
            <%= nowplaying.name %>
        </div>
        <div class="artist">
            <%= nowplaying.artist["#text"] %>
        </div>
        <%
    }
    else {
        %>
        <div class="nothing">
            Nothing
        </div>
        <%
    }
    %>
</div>
