<div class="nowPlaying">
    <%
    if (party.nowPlaying) {
        if (party.nowPlaying.image[2]["#text"]) {
            %>
            <img src="<%= party.nowPlaying.image[2]["#text"] %>" />
            <%
        }
        %>
        Now playing: <%= party.nowPlaying.name %> by <%= party.nowPlaying.artist["#text"] %>
        <%
    }
    else {
        %>
        Now playing: Nothing
        <%
    }
    %>
</div>
