<div id="nowPlaying" class="trackDetails nowPlaying">
    <%
    if (party.nowPlaying) {
        if (party.nowPlaying.image[2]["#text"]) {
            %>
            <img src="<%= party.nowPlaying.image[2]["#text"] %>" />
            <%
        }
        %>
        <div class="name">
            <%= party.nowPlaying.name %>
        </div>
        <div class="artist">
            <%= party.nowPlaying.artist["#text"] %>
        </div>
        <%
    }
    else {
        %>
        <div class="nothing">
            Nothing
        </div>
        <%
    }
    %>
</div>
