<div class="host">
    <a href="/party/<%= party.host %>"><%= party.host %>'s party</a>
</div>
<%
if (party.nowPlaying) {
    %>
    <%- partial("track", { object: party.nowPlaying }) %>
    <%
}
else {
    %>
    <%- partial("nothing") %>
    <%
}
%>
