<div data-role="page">
    <%- partial("header") %>
    <div data-role="content">
        <h2>Page not found</h2>
        Sorry, the page you requested could not be found. The best option is to <a href="/">visit the homepage</a> and try again from there.
    </div>
    <%- partial("footer") %>
</div>
