<div data-role="page">
    <%- partial("header") %>
    <div data-role="content">
        <h2>Problem loading page</h2>
        Sorry, there was a problem loading the requested page. The best option is to <a href="/">visit the homepage</a> and try again from there.
    </div>
    <%- partial("footer") %>
</div>
