<div data-role="page" id="more">
    <div id="header" data-role="header">
        <h1>boxsocial.fm</h1>
    </div>
    <div data-role="content">
        <h2>About boxsocial</h2>
        <p>boxsocial makes your Last.fm profile even more accurate. Instead of just scrobbling music from your own device, now you can include the music you listen to when you're with others.</p> 
        <p>If you're with a friend, at a party or anywhere someone is using Last.fm, just log on to boxsocial and enter your host's Last.fm username. Now all their Now Playing and Scrobble updates will be copied to your profile in real-time.</p>
    </div>
    <div data-role="footer">
        Powered by <img src="/img/lastfm_black_small.gif" />
    </div>
</div>
 
