<div class="row">
    <div class="twelvecol">
        <h1>Contact Us</h1>
    </div>
</div>
<div class="row">
    <div class="eightcol">
        We'd love to hear from you. You can contact us by email at <a href="mailto:boxsocialfm@gmail.com">boxsocialfm@gmail.com</a> or via <a href="http://twitter.com/boxsocialfm">Twitter</a>.
    </div>
</div>
