<div data-role="page">
    <%- partial("header") %>
    <div data-role="content">
        <h2>H</h2>
        <a href="#host">Host</a>
    </div>
    <%- partial("footer") %>
</div>
<div data-role="page" id="host">
    <%- partial("header") %>
    <div data-role="content">
        <h2>Host</h2>
        <p>A host is the Last.fm user whose Now Playing updates and Scrobbles you wish to copy.</p>
        <p>A host does not need to log in to boxsocial for a party to take place.</p>
    </div>
    <%- partial("footer") %>
</div>
