<div class="row">
    <div class="twelvecol">
        <h1>Glossary</h1>
    </div>
</div>
<div class="row">
    <div class="eightcol glossary">
        <a name="host"></a>
        <h2>Host</h2>
        <p>A host is the Last.fm user whose Now Playing updates and Scrobbles you wish to copy. It might be a friend or the bar or club you are at. It doesn't matter just as long as they are scrobbling.
        <br />
        A host does not need to log in to boxsocial for a party to take place.</p>
        <a name="scrobbling"></a>
        <h2>Scrobbling</h2>
        Scrobbling is the act of logging the music you listen to with Last.fm. See <a href="http://www.last.fm/help/faq?category=Scrobbling">Last.fm's FAQ</a> for more info.
    </div>
</div>
