<div data-role="page">
    <div id="header" data-role="header">
        <h1>boxsocial.fm</h1>
    </div>
    <div data-role="content">
        <h2>H</h2>
        <a href="#host">Host</a>
    </div>
    <div data-role="footer">
        Powered by <img src="/img/lastfm_black_small.gif" />
    </div>
</div>
<div data-role="page" id="host">
    <div id="header" data-role="header">
        <h1>boxsocial.fm</h1>
    </div>
    <div data-role="content">
        <h2>Host</h2>
        <p>A host is the Last.fm user whose Now Playing updates and Scrobbles you wish to copy.</p>
        <p>A host does not need to log in to boxsocial for a party to take place.</p>
    </div>
    <div data-role="footer">
        Powered by <img src="/img/lastfm_black_small.gif" />
    </div>
</div>
