<div class="row">
    <h2>boxsocial.fm <span class="subheader">- party mode for Last.fm.</span></h2>
    <div class="eightcol">
        <p>Whether you're at a party, a bar or hanging out with friends you can scrobble your host's plays to your own profile in real-time.</p>
        <%
        if (!party) {
            %>
                <a href="/join" class="button">Join a Party</a>
            <%
            if (!guest) {
                %>
                    or
                    <a href="/login">Log in with Last.fm</a>
                <%
            }
            %>
            <%
        }
        else {
            %>
            <div id="current_party">
                You are at <a href="/party/<%= party.host %>"><%= party.host %>'s party</a>.
            </div>
            <%
        }
        %>
        <%- partial("howitworks") %>
    </div>
    <div class="fourcol last">
        <h3>Partying now</h3>
        <ul class="currentparties">
            <%- partial("currentparties") %>
        </ul>
    </div>
</div>

