<div class="row">
    <div class="twelvecol">
        <h1>Party mode for Last.fm.</h1>
    </div>
</div>
<div class="row">
    <div class="eightcol siteintro">
        <p>
            If you're listening to music at a party, a bar or while hanging out with friends, boxsocial lets you <strong>copy scrobbles to your Last.fm profile</strong> in real-time.
            <a href="/about" class="readmore">Read more...</a>
        </p>
        <%
        if (!currentParty) {
            %>
            <div class="controls">
                <a href="/join" class="button">Join a Party</a>
            </div>
            <%
        }
        else {
            %>
            <div id="youarehere">
                You are at <a href="/party/<%= currentParty.host %>"><%= currentParty.host %>'s party</a>.
            </div>
            <%
        }
        %>
        <%- partial("howitworks") %>
    </div>
    <div class="fourcol last">
        <h3>Partying now</h3>
        <ul class="currentparties">
            <%- partial("currentparties") %>
        </ul>
    </div>
</div>

