<div class="row">
    <div class="twelvecol">
        <h1>Party mode for Last.fm.</h1>
    </div>
</div>
<div class="row">
    <div class="eightcol siteintro">
        <p>
            If you're listening to music at a party, a bar or while hanging out with friends, boxsocial lets you <strong>copy scrobbles to your Last.fm profile</strong> in real-time.
            <a href="/about" class="readmore">Read more...</a>
        </p>
        <%
        if (!currentParty) {
            %>
            <div class="controls">
                <a href="/join" class="button">Join a Party</a>
            </div>
            <%
        }
        else {
            %>
            <div id="youarehere">
                You are at <a href="/party/<%= currentParty.host %>"><%= currentParty.host %>'s party</a>.
            </div>
            <%
        }
        %>
        <p>
            <g:plusone size="standard" href="http://boxsocial.fm" count="true"></g:plusone>
            <iframe id="facebook" src="http://www.facebook.com/plugins/like.php?href=boxsocial.fm&amp;layout=standard&amp;show_faces=false&amp;width=300&amp;action=like&amp;colorscheme=light&amp;height=25" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:25px;" allowTransparency="true"></iframe>
        </p>
        <%- partial("partials/howitworks") %>
    </div>
    <div class="fourcol last">
        <h3>Partying now</h3>
        <ul class="currentparties">
            <%- partial("partials/currentparties") %>
        </ul>
    </div>
</div>

