<div data-role="page">
    <%- partial("header") %>
    <div data-role="content">
        <h2>boxsocial - party mode for Last.fm.</h2>
        <p>Whether you're at a party, a bar or hanging out a friends you can scrobble your host's plays to your own profile in real-time. <a href="/about">Learn more...</a></p>
        <%
        if (!party) {
            %>
            <div id="get_started">
                <a href="/join" data-role="button" data-icon="add" rel="external">Join a Party</a>
            </div>
            <%
        }
        else {
            %>
            <div id="current_party">
                You are at <a href="/party/<%= party.host %>"><%= party.host %>'s party</a>.
            </div>
            <%
        }
        %>
    </div>
    <%- partial("footer") %>
</div>

