<div data-role="page">
    <div id="header" data-role="header">
        <h1>boxsocial.fm</h1>
    </div>
    <div data-role="content">
        <h2>boxsocial - party mode for Last.fm.</h2>
        <p>Whether you're at a party, a bar or hanging out a friends you can scrobble your host's plays to your own profile in real-time. <a href="#more">Learn more...</a></p>
        <%
        if (!party) {
            %>
            <div id="get_started">
                <a href="/join" data-role="button" data-icon="add" rel="external">Join a Party</a>
            </div>
            <%
        }
        else {
            %>
            <div id="current_party">
                You are at <a href="/party/<%= party.host %>"><%= party.host %>'s party</a>.
            </div>
            <%
        }
        %>
    </div>
    <div data-role="footer">
        Powered by <img src="/img/lastfm_black_small.gif" />
    </div>
</div>
<div data-role="page" id="more">
    <div id="header" data-role="header">
        <h1>boxsocial.fm</h1>
    </div>
    <div data-role="content">
        <h2>About boxsocial</h2>
        <p>boxsocial makes your Last.fm profile even more accurate. Instead of just scrobbling music from your own device, now you can include the music you listen to when you're with others.</p> 
        <p>If you're at a friend's house, at a party or anywhere someone is using Last.fm, just log on to boxsocial and enter your host's Last.fm username. Now all their Now Playing and Scrobble updates will be copied to your profile in real-time.</p>
    </div>
    <div data-role="footer">
        Powered by <img src="/img/lastfm_black_small.gif" />
    </div>
</div>
 
