<div data-role="page">
    <div id="header" data-role="header">
        <h1>boxsocial.fm</h1>
    </div>
    <div data-role="content">
        <form action="/join" method="post">
            <fieldset>
                <label for="host">Please enter your host's last.fm username:</label>
                <input type="text" name="host" id="host" />
                <input type="submit" value="Join" />
            </fieldset>
        </form>
    </div>
    <div data-role="footer">
        Powered by <img src="/img/lastfm_black_small.gif" />
    </div>
</div>
