<div data-role="page">
    <div id="header" data-role="header">
        <h1>boxsocial.fm</h1>
    </div>
    <div data-role="content">
        <% 
        if (fmsession) {
            %>
            <p>Hello <b><%= fmsession.user %></b>.</p>
            <%
        }
        %>
        <p>To join a party please enter your <a href="/glossary#host">host</a>'s Last.fm username.</p>
        <form action="/join" method="post">
            <fieldset>
                <label for="host">Host's username:</label>
                <input type="text" name="host" id="host" />
                <input type="submit" value="Join" />
            </fieldset>
        </form>
    </div>
    <div data-role="footer">
        Powered by <img src="/img/lastfm_black_small.gif" />
    </div>
</div>
