<div class="row">
    <div class="twelvecol">
        <h1>Join <%= host %>'s party?</h1>
        <p>
            Are you sure you want to join <b><%= host %>'s</b> party?
        </p>
    </div>
</div>
<div class="row">
    <div class="twelvecol">
        <form action="/join/<%= host %>" method="post">
            <fieldset>
                <input type="submit" value="Yes"i data-icon="check" />
                <a href="/join" data-role="button" data-icon="delete">No</a>
            </fieldset>
        </form>
    </div>
</div>
