<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link  href="//fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css" >
        <link  href="//fonts.googleapis.com/css?family=Copse:regular" rel="stylesheet" type="text/css" >
        <link  href="//fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,400,400italic,700,700italic,900,900italic" rel="stylesheet" type="text/css" >
        <script src="http://code.jquery.com/jquery-1.4.4.min.js"></script>
        <script src="/js/ejs.js"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <!-- The 1140px Grid --> 
            <link rel="stylesheet" href="/css/grid/1140.css" type="text/css" media="screen" /> 
        <!--[if lte IE 9]>
        <link rel="stylesheet" href="/css/ie.css" type="text/css" media="screen" />
        <![endif]--> 
        <!-- Type and image presets - NOT ESSENTIAL --> 
        <link rel="stylesheet" href="/css/grid/typeimg.css" type="text/css" media="screen" /> 
        <!-- Make minor type adjustments for 1024 monitors --> 
        <link rel="stylesheet" href="/css/grid/smallerscreen.css" media="only screen and (max-width: 1023px)" /> 
        <!-- Resets grid for mobile --> 
        <link rel="stylesheet" href="/css/grid/mobile.css" media="handheld, only screen and (max-width: 767px)" /> 
        <!-- Put your layout here --> 
        <link rel="stylesheet" href="/css/layout.css" type="text/css" media="screen" /> 
    </head>
    <body>
        <%- partial("header") %>
        <div id="main" class="container">
        <%- body %> 
        </div> 
        <%- partial("footer") %> 
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-552171-3']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </body>
</html>
