<!DOCTYPE html>
<html>
    <head>
        <title>boxsocial: Party mode for Last.fm</title>
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.css" />
        <script src="http://code.jquery.com/jquery-1.4.3.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.js"></script>
        <link rel="stylesheet" href="/css/mobile.css" />
    </head>
    <body>
       <%- body %> 
    </body>
</html>
