<div class="row">
    <div class="twelvecol">
        <%
        if (guest && guest.session.user == host) {
            %>
            <h1>Waiting for guests to arrive.</h1>
            <p>This is your party. Once guests arrive they'll appear here.</p>
            <%
        }
        else {
            %>
            <h1><%= host %>'s party</h1>
            <p>
                <strong>The party's over.</strong>
                Either that or you're the first one here.
            </p>
            <a href="/join/<%= host %>" class="button">Start Party</a>
            <%
        }
        %>
    </div>
</div>
