<div data-role="page">
    <div id="header" data-role="header">
        <h1>boxsocial.fm</h1>
        <a href="#" class="ui-btn-right" data-icon="refresh" onclick="location.reload()">Refresh</a>
    </div>
    <div data-role="content">
        <h2>The party's over</h2>
        Either that or you're the first one here.
        <a href="/join/<%= host %>" rel="external" data-role="button" data-icon="add">Start Party</a>
    </div>
    <div data-role="footer">
        Powered by <img src="/img/lastfm_black_small.gif" />
    </div>
</div>
