<div data-role="page">
    <%- partial("header-refresh") %>
    <div data-role="content">
        <h2>The party's over</h2>
        Either that or you're the first one here.
        <a href="/join/<%= host %>" rel="external" data-role="button" data-icon="add">Start Party</a>
    </div>
    <%- partial("footer") %>
</div>
