<div data-role="page">
    <%- partial("header-refresh") %>
    <div data-role="content">
        <%
        if (guest && guest.session.user == host) {
            %>
            <h2>Waiting for guests to arrive.</h2>
            <p>This is your party. Once guests arrive they'll appear here.</p>
            <%
        }
        else {
            %>
            <h2>The party's over</h2>
            <p>Either that or you're the first one here.</p>
            <a href="/join/<%= host %>" rel="external" data-role="button" data-icon="add">Start Party</a>
            <%
        }
        %>
    </div>
    <%- partial("footer") %>
</div>
