<div class="row">
    <div class="eightcol privacy">
        <h1>Privacy</h1>
        <h2>Your Last.fm account</h2>
        <p>
            In order to use boxsocial you need to grant us permission to access your profile. We only use this to update your Now Playing and Recent Plays based on the party you have joined.
            We promise not send shouts or otherwise spam you or your friends on Last.fm or anywhere else.
        </p>
        <h2>Your personal details</h2>
        <p>
            We can only view the information that you have made public on your Last.fm profile. We use this to show who is at what party. We don't collect real names, email addresses or contact details.
        </p>
    </div>
</div>
