/* Layout for desktop version */

body {
    font-family: Georgia, serif;
    font-size: 14px;
    line-height: 24px;		/* Changing this will break the baseline grid. */
    -webkit-text-size-adjust: none;		/* Stops the iPhone scalling type up */
    background-color:#e3ddc4;
}

ul {
    list-style:none;
}

#header {
    background-color:#d51007;
    color:#f0f0f0;
}

h1 {
    font-size:24px;
    margin:10px 0px;
}

h1 a {
    color:#f0f0f0;
    font-weight:lighter;
}

h1 span.subheader {
    font-size:50%;
}

#header .navigation {
    position:relative;
    top:20px;
    text-align:right;
}

#header .navigation a {
    color:#fff8dc;
    font-weight:lighter;
}

h2 {
    margin:10px 0px;
    font-size:28px;
    text-shadow: 0 1px 0px #fff;
}

h3 {
    color:#aaa;
    margin-bottom:0px;
}

.trackDetails img {
    float:right;
}

.recentplays .name {
    line-height:20px;
    font-size:18px;
}

.recentplays li {
    clear:both;
    margin-bottom:5px;
}

.nowPlaying .name,
.nowPlaying .nothing {
    font-size:28px;
    margin-bottom:5px;
}

.trackDetails .name {
    color:#d51007;
}

.nowPlaying .artist {
    font-family: Georgia, serif;
    font-size:24px;
}

.trackDetails .nothing,
.trackDetails .artist {
    color:#d5534e;
}

#main {
    background-color:#fff8dc;
}

.controls {
    margin:20px 0px;
}

a.button,
button {
    display:block;
    background: #e0e0e0;
    border: 1px solid #ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: inset 0 0 1px 1px #f6f6f6;
    -webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
    box-shadow: inset 0 0 1px 1px #f6f6f6;
    color: #333;
    font-family: "helvetica neue", helvetica, arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 9px;
    text-align: center;
    text-shadow: 0 1px 0px #fff;
    width: 250px;
}

#footer {
    bottom:0px;
    width:100%;
    color:#000;
}

/* Layout for mobile version */

@media handheld, only screen and (max-width: 767px) {
    
.nowPlaying img {
    width:90px;
}

#header .navigation,
h1 span.subheader {
    display:none;
}

.examplecontainer {

body {

}

}


/* Provide higher res assets for iPhone 4 */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/* An example of how to override an image with one twice the size for iPhone 4. Specify the original pixel size with background-size.
.download {
background: url(../img/downarrow@2x.png) no-repeat;
background-size: 27px 28px;
}
*/

}
