/* Layout for desktop version */
body {
    background-color:#343333;
    font-family: Arial;
    font-size: 14px;
    line-height: 24px;		/* Changing this will break the baseline grid. */
    -webkit-text-size-adjust: none;		/* Stops the iPhone scalling type up */
    color:#485664;
    background-image:url('/img/footer_bg.jpg');
    background-position:0px 100px;
    margin-bottom:0px;
}

ul {
    list-style:none;
}

#facebook {
    position:relative;
    top:1px;
    left:-37px;
}

#faceparty {
    position:relative;
    left:-29px;
}

#header {
    color:#f0f0f0;
    background: #953329;
    background-image: url('/img/header.png');
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.9);
    border-bottom:10px solid rgba(219, 112, 92, 0.3)
}

h1, h2, h3, h4, h5, h6
{
    font-family:"Folio Condensed Medium", 'Helvetica Neue Condensed Bold', Impact, Arial Narrow, Arial, Helvetica, sans-serif;
    font-size-adjust:0.48;
    color:#a75750;
    font-weight:normal;
}

#header .logo {
    font-family: 'Lobster', serif;
    font-size: 52px;
    font-weight: 400;
}

#header .logo a {
    color:#cc9994;
}

#header .logo {
    line-height:47px;
}

#header .logo .fm {
    font-size:60%;
}



#header .logo .subheader {
    text-shadow:none;
    font-weight:lighter;
}

#header .logo,
h1 {
    margin:10px 0px;
}

h1 a {
    color:#f0f0f0;
}

span.subheader {
    font-size:50%;
}

#header .navigation {
    margin-top:20px;
    text-align:right;
    margin-right:90px;
}

#header .navigation a {
    color:#fff8dc;
    font-weight:normal;
}

h1 {
    margin:10px 0px;
    margin-top:20px;
    font-size:36px;
    font-weight:lighter;
}

h3,
.privacy h2,
.glossary h2,
.currentparties h4 {
    color:#9e9c9c;
    margin-bottom:0px;
    font-weight:lighter;
}

h1, h2, h3, h4 {
}

a.readmore {
    display:none;
}

#youarehere {
    margin-bottom:25px;
}

.siteintro strong {
    font-size:110%;
    color:#a75750;
    font-weight:bold;
}

#howitworks h4 {
    font-size:20px;
    margin:10px 0px;
}

.track img {
    float:right;
    background:#fff;
    padding:4px;
    margin-left:5px;
    margin-bottom:5px;
}

.track .name {
    color:#a75750;
}

.recentplays .name {
    line-height:20px;
    font-size:18px;
    padding-right:70px;
}

.recentplays li {
    clear:both;
    margin-bottom:5px;
    height:70px;
}

.recentplays .track img {
    width:64px;
}

.nowPlaying .name,
.nowPlaying .nothing {
    font-size:28px;
    margin-bottom:5px;
}

.nowPlaying .artist {
    font-size:24px;
}

.nowPlaying .track img {
    width:160px;
}

.nowPlaying .affiliate {
    margin-top:6px;
}

.track .nothing,
.track .artist {
    color:#a75750;
}

#main {
    padding-bottom:15px;
    min-height:500px;
    background-color:#f2ebdf;
    background-image:url('/img/background.png');
}

a {
    color:#4d8db3;
    font-weight:normal;
}

a:hover {
    color:#7999ab;
    color:#4d8db3;
}

.actions {
    margin-top:8px;
}

a.affiliate {
    display:block;
    border:1px solid #ddf;
    float:left;
    margin-right:3px;
    border-radius:3px;
    -moz-border-radius:3px;
}

a.amazoncouk {
    background-color:#fff;
}

a.amazoncom {
    background-color:#000;
    border:1px solid #003;
}

.affiliate img {
    padding:1px;
    margin:0px;
    height:16px;
}


.currentparties .affiliate img,
.recentplays .affiliate img {
    height:12px;
}

.controls {
margin:20px 0px;
}

.guests {
clear:both;
}

li.guest {
clear:both;
height:50px;
}

li.guest img {
    float:left;
    margin-right:15px;
    width:96px;
}

li.guest .name a {
    font-size:24px;
    margin-bottom:5px;
    font-weight:normal;
}

.currentparties li.party {
    clear:both;
    margin-bottom:35px;
}

.currentparties .track img {
height:50px;
}

ul#recentplays li {
    margin-bottom:10px;
}

a.button,
    input[type=submit],
    button {
    display:block;
    background: #e0e0e0;
    border: 1px solid #ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: inset 0 0 1px 1px #f6f6f6;
    -webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
    box-shadow: inset 0 0 1px 1px #f6f6f6;
    z-index:100;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 9px;
    text-align: center;
    text-shadow: 0 1px 0px #fff;
    width: 250px;
}

input[type=text] {
    padding:2px 4px;
    width:240px;
    font-size:18px;
    font-weight:bold;
    color:#333;
}

input[type=submit] {
display:inline;
width: 100px;
padding:4px 9px;
}

a.login,
input.logout {
display:block;
background: #111;
background: -moz-linear-gradient(0% 100% 90deg, #FFFFFF, #000000,
                rgba(0, 0, 0, 0.9) 0%,
                rgba(20, 20, 20, 0.9) 50%,
                rgba(30, 30, 30, 0.9) 50%,
                rgba(50, 50, 50, 0.9) 100%);
background: -webkit-gradient(linear, 0 0, 0 100%,
                color-stop(0, rgba(50, 50, 50, 0.9)),
                color-stop(0.5, rgba(30, 30, 30, 0.9)),
                color-stop(0.5, rgba(20, 20, 20, 0.9)),
                color-stop(1, rgba(0, 0, 0, 0.9)));
border: 0;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
-moz-box-shadow: inset 1px 1px 1px 0px rgba(135, 135, 135, 0.1), inset -1px -1px 1px 0px rgba(135, 135, 135, 0.1);
-webkit-box-shadow: inset 1px 1px 1px 0px rgba(135, 135, 135, 0.1), inset -1px -1px 1px 0px rgba(135, 135, 135, 0.1);
box-shadow: inset 1px 1px 1px 0px rgba(135, 135, 135, 0.1), inset -1px -1px 1px 0px rgba(135, 135, 135, 0.1);
color: #fff;
font-size: 16px;
font-weight: normal;
line-height: 1;
padding: 8px 0;
text-shadow: 0px -1px 1px rgba(0, 0, 0, .8), 0 1px 1px rgba(255, 255, 255, 0.3);
text-align: center;
width: 80px;
float:right;
position:relative;
top:-5px;
}

#footer {
    padding-top:20px;
    color:#9e9c9c;
    background-image:url('/img/footer_border.png');
    background-repeat:repeat-x;
}

#footer h3 {
    color:#eee;
}

#footer a {
    color:#9e9c9c;
    font-weight:normal;
}

#footer a:hover {
    color:#ccc;
}

#footer li {
    margin-bottom:3px;
    line-height:22px;
}

#footer img {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom:5px;
}

/* Layout for mobile version */

@media handheld, only screen and (max-width: 767px) {

body {
    background-position:-250px 100px;
}

#facebook {
    position:relative;
    top:0px;
    left:0px;
}

#faceparty {
    position:relative;
    left:0px;
}

h1 {
    font-size:28px;
}

a.button,
input[type=submit],
button {
    padding:5px 5px;
    font-size:14px;
}

a.button,
button {
    width:160px;
}

input[type=submit] {
    width:80px;
}

input[type=text] {
    width:65%;
}

label {
    display:block;
}

a.login,
input.logout {
    position:absolute;
    top:11px;
    right:20px;
}

a.readmore {
    display:inline;
}

.affiliate img {
    padding:4px 6px;
}

.affiliate {
}

.actions {
    padding-top:4px;
}

#main {
    min-height:150px;
}

.nowPlaying .name,
.nowPlaying .nothing {
    font-size:24px;
    margin-bottom:5px;
}

.nowPlaying .artist {
    font-size:20px;
}
    
.nowPlaying .track img {
    width:100px;
}

.recentplays .track img {
    width:50px;
}

li.guest .name a {
    font-size:20px;
}

li.guest img {
    width:64px;
}

.recentplays {
    clear:both;
}

.siteintro #howitworks {
    display:none;
}

.step {
    padding-left:0px;
}

.controls {
    margin-top:5px;
}

#header .logo {
    font-size:36px;
    line-height:36px;
}

#header .navigation,
#header span.subheader {
    display:none;
}

#header .logo .fm {
    font-size:65%;
}

#footer .moreinfo {
    display:none;
}

.examplecontainer {

body {
}

}


/* Provide higher res assets for iPhone 4 */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/* An example of how to override an image with one twice the size for iPhone 4. Specify the original pixel size with background-size.
.download {
background: url(../img/downarrow@2x.png) no-repeat;
background-size: 27px 28px;
}
*/

}
